@import url(satoshi.css);

/* Grid */
.layout { 
  display: grid; 
  grid-template-columns: 1fr 1fr 2fr; 
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* would like to center the entire layout in the center of page */
  }
  .time {
    background-color: #699DFD; 
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;

  font-family: 'Satoshi-Light';
  /* Cant get my text to change style */
  }

  .date { 
    background-color: #CF996D; 
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 3;
   } 

  .weather { 
    background-color: #B8577D; 
   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 3;
   } 

/* Widgets */
section {
  background: lightgray;
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}

/* Time */
.time {
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  font-family: 'Bevellier-Light';
  
}

/* Date */
.date {
  
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  
}

.city {
  
}

.temp {
  
}

.weather img {
  
}
